<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Created</strong>
  <%= @post.created_at %> |
  <strong>Updated</strong>
  <%= @post.updated_at %>
</p>

<p>
  <strong>Text:</strong>
  <%== @post.text %>
</p>

<% if signed_in? %> 
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<!-- View comments -->
<div class="comment_wrapper">
  <%= render :partial => 'comment', :collection => @post.comments %>  
</div>

<!-- Submit comments -->

<p>
  <%= form_for(@comment) do |f| %>
  <%= f.hidden_field :post_id %>
  <h4><%= f.label "Post a comment" %></h4>
  <%= f.text_area :body %>
  <p><%= f.submit "Post comment" %></p>
  <% end %>
</p>